//Usar el objeto locals para que webapck carge las variables pug

-locals.pageTitle= 'Workflow Webpack 2021 @cqrlosArch'

//- SEO
-locals.author = 'Nombre'
-locals.twitterName = 'Perfil de twitter'
-locals.type = 'website'
-locals.description = 'Plantilla base para compilar html, css y javascript'
-locals.keywords = 'Las, keyword, van, separadas, por, coma'
-locals.url = 'La url en el servidor ej: http://www.miweb.com'
-locals.image = url + 'la ruta de la imágen (puede ser un screen de la web)'